@model Recommended_System.Models.Itemadder

@{
    ViewBag.Title = "Edit " + Model.item_name;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <legend class="alert-info alert">@Model.item_name Categories <span class="label label-success"> @Html.DisplayFor(model => model.item_name, new { @Value = Model.item_name }) </span></legend>
    <fieldset style="text-align:center">
        <label style="color:red">@ViewBag.message</label><br />
        <table class="table  table-striped" style="text-align:center">
            <tr class="">
                <td>
                    @Html.HiddenFor(model => model.cat_id)
                    <span class="label alert-danger ">
                        Rename category
                    </span>
                </td>

                <td class="">
                    @Html.TextBoxFor(model => model.cat_name, new { @Value = Model.item_name, @class = "field form-control" })
                    @Html.ValidationMessageFor(model => model.cat_name)
                </td>
            </tr>
            @for (int i = 0; i < Model.pv.Count; i++)
            {
                <tr>
                    <td>
                        <span class="label alert-warning ">
                            Properites # @i
                        </span>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.pv[i], new { @Value = Model.pv[i], @class = "field form-control" })
                        @Html.ValidationMessageFor(model => model.pv[i])
                    </td>
                </tr>
            }


        </table>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index")
        </div>

    </fieldset>

}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
