@model IEnumerable<Recommended_System.Models.Av_Cust>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Nme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Nme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cust_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cust_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cust_Id })
        </td>
    </tr>
}

</table>
